# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.so
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pcap
*.pcapng
*.avi
*.npy
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

PC/build/
PC/lib/

#Virtual environments
venv/

#Image detection files
image-detection/model/*
image-detection/footage/*